.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(to right, #111827, #1f2937, #111827); /* bg-gradient-to-r from-gray-900 via-gray-800 to-gray-900 */
  }

  .heading {
    color: white;
    margin-bottom: 20px;
    text-align: center;
  }

  .label {
    color: white;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .select {
    color: black;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
  }
  
  .textarea {
    resize: none;
    color: black;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    background: linear-gradient(to right, #111827, #1f2937, #111827); /* bg-gradient-to-r from-gray-900 via-gray-800 to-gray-900 */
  }
  
  .label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .button {
    color: black;
    background-color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #f0f0f0;
  }

  .pageHeading {
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
  }